<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/15a9419d1c.js" crossorigin="anonymous"></script>
    <script src="//code.jquery.com/jquery-latest.min.js"></script>
    <script src="/js/header.js" defer></script>
    <link rel="stylesheet" href="/css/timepicker.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bPopup/0.11.0/jquery.bpopup.min.js"></script>
    <script src="/js/test.js" defer></script>
    <script src="/js/header.js" defer></script>
    <link href="/css/hospital1.css" type="text/css" rel="stylesheet">
    <link href="/css/test.css" type="text/css" rel="stylesheet">

    <title>Hospital</title>
    <style>
        .map_wrap, .map_wrap * {margin:0;padding:0;font-family:'Malgun Gothic',dotum,'돋움',sans-serif;font-size:12px;}
        .map_wrap a, .map_wrap a:hover, .map_wrap a:active{color:#000;text-decoration: none;}
        
        .bg_white {background:#fff;}
        #menu_wrap hr {display: block; height: 1px;border: 0; border-top: 2px solid #5F5F5F;margin:3px 0;}
        #menu_wrap .option{text-align: center;}
        #menu_wrap .option p {margin:10px 0;}  
        #menu_wrap .option button {margin-left:5px;}
        #placesList li {list-style: none;}
        #placesList .item {position:relative;border-bottom:1px solid #888;overflow: hidden;cursor: pointer;min-height: 65px;}
        #placesList .item span {display: block;margin-top:4px;}
        #placesList .item h5, #placesList .item .info {text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
        #placesList .item .info{padding:10px 0 10px 55px;}
        #placesList .info .gray {color:#8a8a8a;}
        #placesList .info .jibun {padding-left:26px;background:url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_jibun.png) no-repeat;}
        #placesList .info .tel {color:#009900;}
        #placesList .item .markerbg {float:left;position:absolute;width:36px; height:37px;margin:10px 0 0 10px;background:url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png) no-repeat;}
        #placesList .item .marker_1 {background-position: 0 -10px;}
        #placesList .item .marker_2 {background-position: 0 -56px;}
        #placesList .item .marker_3 {background-position: 0 -102px}
        #placesList .item .marker_4 {background-position: 0 -148px;}
        #placesList .item .marker_5 {background-position: 0 -194px;}
        #placesList .item .marker_6 {background-position: 0 -240px;}
        #placesList .item .marker_7 {background-position: 0 -286px;}
        #placesList .item .marker_8 {background-position: 0 -332px;}
        #placesList .item .marker_9 {background-position: 0 -378px;}
        #placesList .item .marker_10 {background-position: 0 -423px;}
        #placesList .item .marker_11 {background-position: 0 -470px;}
        #placesList .item .marker_12 {background-position: 0 -516px;}
        #placesList .item .marker_13 {background-position: 0 -562px;}
        #placesList .item .marker_14 {background-position: 0 -608px;}
        #placesList .item .marker_15 {background-position: 0 -654px;}
        #pagination {margin:10px auto;text-align: center;}
        #pagination a {display:inline-block;margin-right:10px;}
        #pagination .on {font-weight: bold; cursor: default;color:#777;}
        
        .map_wrap{
            display: flex;
            flex-direction: row;
        
        }
        #map{
            width: 70%;
            height: 500px;
        
        }
        #menu_wrap{
        
            width: 100%;
            height: 400px;
            padding:5px;
            overflow-y:auto;
            background:rgba(255, 255, 255, 0.7);
            font-size:10px;
            border-radius: 10px;
        }
        </style>
</head>
<body>
    <!--Header 부분-->
    <header class="p-3 text-bg-white">
        <div class="container">
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li id="title"><a href="#;" onclick="refreshPage()" class="nav-link px-2 text-dark">
                    <i id='mark'class="fa-solid fa-graduation-cap"></i>
                    <strong>2022 졸업작품</strong>
                    <i id='mark'class="fa-solid fa-graduation-cap"></i>
                </a></li>
            </ul>
            <div id="oname">  20192564 강은영, 20192568 공령휘  </div>
            </div>
        </div>
    </header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Eighth navbar example">
        <div class="container">
        <a class="navbar-brand" href="#;" onclick="refreshPage()">
            <i class="fa-solid fa-house text-white"></i>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarsExample07">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active text-white" aria-current="page" href="#;" onclick="refreshPage()">Hospital</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="/pharmacy">Pharmacy</a>
            </li>

            <div class="content" style="display: flex; ">
                <li class="nav-item" id="nname">
                    <i class="fa-solid fa-user"></i>
                    <button class="nickname" onclick="nickname()"></button> 님
                </li>
                <li class="nav-item" id="logout">
                    <button id="sign-out">로그아웃 &nbsp;<span id="direct">▷</span></div>
                        
                </li>
                
            </div>
        
        </div>
    </nav>

    <div id="mypage" style="width: 200px; height: 300px; display:none; padding: 20px;
                        border-radius: 10px; background-color: white; color: rgb(33,37,41);"></div>

    <div class="container1">
        <div class="h3 border-bottom border-secondary" id="h1"></div>
        <div class="container2">
            <div id="map" >
                <!-- map -->
            </div>
            <div class="container3">
                <div class="hospital">
                    <div class="section1">
                        <div class="sorting">
                            <div class="sorting1">
                                <button class="btn btn-dark" id="bu1" type="button">
                                    거리순
                                </button>
                
                            </div>
                            <div class="dropdown" id="dd">
                                <button class="btn btn-dark dropdown-toggle" id="selectday" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    날짜 선택
                                </button>
                                <ul class="dropdown-menu dropdown-menu-dark">
                                    <div class="box" style="display: flex;">
                                        <label><input type="date" id="date"></label>
                                        <input type="submit" value="확인" id="submit" onclick="selectDay(event)">
                                    </div>
                                </ul>                          
                            </div>
                            <div class="dropdown" id="dd">
                                <button class="btn btn-dark dropdown-toggle" id="bu2" type="button" >
                                    시간 선택
                                </button>
                                
                            </div>
                        </div> <!-- 정렬 부분 끝-->

                        <div class="dropdown">
                            <button class="btn btn-dark" id="bu3" type="submit" 
                            onclick="select()">
                                적용
                            </button>
                        </div>
                    </div>

                    <div class="list">
                        <div id="menu_wrap" class="bg_white">
                            
                            <hr>
                            <ul id="placesList"></ul>
                            <div id="pagination"></div>
                        </div>
                        <div id="popup" style="width: 300px; height: 400px; display:none; padding: 20px;
                        border-radius: 10px; background-color: white;"></div>
                    </div>
                </div>
            </div>
            
        </div>
        
        
        
    </div>

    <div class="container">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <p class="col-md-4 mb-0 text-muted">&copy; 2022 Graduation Work</p>
    
        <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
            <i id='info' class="fa-solid fa-circle-info"></i>
        </a>
        
    
        <ul class="nav col-md-4 justify-content-end">
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Hospital</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pharmacy</a></li>
        </ul>
        </footer>
    </div>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=c0ae4b1b3534b6f8d237f85a4be2b207&libraries=services"></script>
    <script src="/js/hospital.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=c0ae4b1b3534b6f8d237f85a4be2b207"></script>