*{
    font-family: '나눔바른고딕';
}
.container1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
#h1{
    text-align: center;
    width: 83%;
    font-size: 35px;
    margin-top: 30px;
    margin-bottom: 35px;
    padding-bottom: 13px;
}
.container3{
    width: 30%;
    margin-left: 10px;
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    
}
.container2{
    
    border-radius: 3px;
    display: flex;
    width: 80%;
    flex-direction: row;
    justify-content: space-between;

}
.sorting{
    display: flex;
    padding-top: 5px;
    padding-left: 5px;
    background-color: rgb(33,37,41);
    border-radius: 3px;

}
.sorting button{
    border-radius: 0.375rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
    color: #777;
}
#bu2{
    margin-left: 5px;
    margin-right: 5px;
}
#bu1{
    margin-left: 5px;
    margin-right: 5px;
}
.list{
    border: 2px solid  rgb(33,37,41);
    margin-top: 5px;
    border-radius: 5px;
    text-align: center;
}
#map{
    border-radius: 3px;
}
#time{
    background-color: rgb(33,37,41);;
    color: whitesmoke;

}
