#h1{
    text-align: center;
    width: 83%;
    font-size: 35px;
    margin-top: 30px;
    padding-bottom: 13px;

    margin-bottom: 70px;
}
.container1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.select1{
    justify-content: space-between;
    align-items: center;
    display: flex;
    
    align-items: center;
    width: 70%;
    margin-bottom: 40px;
}
.select2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin-bottom: 100px;
}
.container1 a{
    width: 200px;
    height: 50px;
    text-align: center;
    margin-top: 7px;
    font-size: 20px; 
    border-radius: 2px;
}
h2
{
    margin-top: 10px;
    font-size: 15px
}
.col-lg-4 p{
    font-size: 10px;
    text-align: center;
}
.row{
    margin-bottom: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
}
#row2{
    margin-left: 35px;
}
#skBtn,
#eyeBtn,
#noBtn,
#skinBtn,
#hbBtn,
#tBtn,
#nBtn,
#jhBtn{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #777;
    
}
#skBtn div,
#eyeBtn div,
#noBtn div,
#skinBtn div,
#hbBtn div,
#tBtn div,
#nBtn div,
#jhBtn div{
    margin-top: 30px;
    color: #777;
}

#skBtn:hover,
#eyeBtn:hover,
#noBtn:hover,
#skinBtn:hover,
#hbBtn:hover,
#tBtn:hover,
#nBtn:hover,
#jhBtn:hover{
    background-color: black;
    
}
.nickname{
    background-color: rgb(33,37,41);
    border: 0px;
    color: white;
}
.nickname:hover{
    font-size: 17px;
    color: gray;
}

