*{
    font-family: '나눔바른고딕';
}
.container1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
#h1{
    text-align: center;
    width: 83%;
    font-size: 35px;
    margin-top: 30px;
    margin-bottom: 35px;
    padding-bottom: 13px;
}
.container3{

    width: 35%;
    
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.container2{

    border-radius: 3px;
    display: flex;
    width: 80%;
    flex-direction: row;
    justify-content: space-between;

}
.sorting{
    display: flex;
    padding-top: 5px;
    padding-left: 5px;
    background-color: rgb(33,37,41);
    border-radius: 3px;
    

}
.sorting button{
    border-radius: 0.375rem;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    color: #777;
}
#dd{
    padding-top: 4px;
}
#bu2{
    margin-left: 5px;
    margin-right: 5px;
    
}
#bu1{
    margin-left: 5px;
    margin-right: 0px;
    color: #777;
    height: 100%;
    border-radius: 3px;
    font-size: 14px;
    text-align: center;
    padding-top: 4px;
}
#bu3{
    margin-left: 5px;
    margin-right: 0px;
    color: #777;
    height: 100%;
    border-radius: 3px;
    font-size: 14px;
    text-align: center;
    padding-top: 10px;
}
.list{
    border: 2px solid  rgb(33,37,41);
    margin-top: 5px;
    border-radius: 5px;
    text-align: center;
    height: 90%;
}
#map{
    border-radius: 3px;
    width: 80%;

    margin-right: 10px;
}
#time{
    background-color: rgb(33,37,41);
    color: whitesmoke;

}
#date{
    background-color: rgb(33,37,41);
    color: whitesmoke;

}
#submit{
    background-color: rgb(33,37,41);
    color: whitesmoke;
}
#submit:hover{
    color: rgb(33,37,41);
    background-color: whitesmoke;
}
#but{
    margin-right: 10px;
    padding: 3px;
    
}
.section1{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10%;
}
.nickname{
    background-color: rgb(33,37,41);
    border: 0px;
    color: white;
}
.nickname:hover{
    font-size: 17px;
    color: gray;
}
