<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/15a9419d1c.js" crossorigin="anonymous"></script>
    <script src="//code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bPopup/0.11.0/jquery.bpopup.min.js"></script>
    <script src="/js/link2.js" defer></script>
    <script src="/js/select.js" defer></script>
    <script src="/js/header.js" defer></script>
    <link href="/css/hospital1.css" type="text/css" rel="stylesheet">
    <link href="/css/select2.css" type="text/css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <!--Header 부분-->
    <header class="p-3 text-bg-white">
        <div class="container">
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li id="title"><a href="#;" onclick="refreshPage()" class="nav-link px-2 text-dark">
                    <i id='mark'class="fa-solid fa-graduation-cap"></i>
                    <strong>2022 졸업작품</strong>
                    <i id='mark'class="fa-solid fa-graduation-cap"></i>
                </a></li>
            </ul>
            <div id="oname">  20192564 강은영, 20192568 공령휘  </div>
            </div>
        </div>
    </header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Eighth navbar example">
        <div class="container">
        <a class="navbar-brand" href="#;" onclick="refreshPage()">
            <i class="fa-solid fa-house text-white"></i>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarsExample07">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active text-white" aria-current="page" href="#;" onclick="refreshPage()">Hospital</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="/pharmacy">Pharmacy</a>
            </li>
            <div class="content" style="display: flex; ">
                <li class="nav-item" id="nname">
                    <i class="fa-solid fa-user"></i>
                    <span class="nickname" onclick="getInfo()"></span> 님
                </li>
                <li class="nav-item" id="logout">
                    <button id="sign-out">로그아웃 &nbsp;<span id="direct">▷</span></div>
                </li>
            </div>
        </div>
        
    </nav>

    <div id="mypage" style="width: 250px; display:none; padding: 20px;
                        border-radius: 10px; background-color: white; color: rgb(33,37,41);"></div>

    <div class="container1">
        <div class="h3 border-bottom border-secondary" id="h1">진료과</div>
        
        <div class="container marketing">

            <!-- Three columns of text below the carousel -->
            <div class="row">
                <div class="col-lg-4">
                    
                    
                    <a class="btn btn-light" href="#;" role="button" id="jhBtn">
                        <div class="go">GO</div>
                    </a>
                    
                    <h2 class="fw-normal">정형외과</h2>
                    <p>선청성 기형, 골형성 부전증, 구루병, 비타민 결핍증, 퇴행성 관절염,<br>
                        골수염, 세균성 관절염, 골절, 탈구</p>
                    
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <a class="btn btn-light" href="#;" role="button" id="skBtn">
                        <div class="go">GO</div>
                    </a>
            
                    <h2 class="fw-normal">신경외과</h2>
                    <p>뇌종양, 뇌경색, 뇌출혈, 뇌동정맥 기형, 추간판 탈출증, 척추협착증,<br> 척추측만증, 파킨슨병, 수전증
                    </p>
                    
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <a class="btn btn-light" href="#;" role="button" id="eyeBtn">
                        <div class="go">GO</div>
                    </a>
            
                    <h2 class="fw-normal">안과</h2>
                    <p>다래끼, 건성안, 눈알 돌출, 결막염, 각막 혼탁, 공막염,<br> 백내장, 포도막염, 녹내장, 근시, 난시, 원시</p>
                    
                </div><!-- /.col-lg-4 -->
            </div><!-- /.row -->

            <div class="row">
                <div class="col-lg-4">
                    <a class="btn btn-light" href="#;" role="button" id="noBtn">
                        <div class="go">GO</div>
                    </a>
            
                    <h2 class="fw-normal">이비인후과</h2>
                    <p>선천성 외이도 폐쇄증, 후각 상실증, 미각 상실증, 알레르기 비염, <br>비골 골절, 비인두암, 급성 편도염, 설소대단축증
                    </p>
                    
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <a class="btn btn-light" href="#;" role="button" id="skinBtn">
                        <div class="go">GO</div>
                    </a>
            
                    <h2 class="fw-normal">피부과</h2>
                    <p>가려움증, 화상, 동상, 아토피 피부염, 두드러기, <br>여드름, 주근깨, 백반증, 피부경화증, 피부 종양</p>
                    
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <a class="btn btn-light" href="#;" role="button" id="hbBtn">
                        <div class="go">GO</div>
                    </a>
                    <h2 class="fw-normal">흉부외과</h2>
                    <p>관상동맥 질환, 심장판막 질환, 심장 종양, 부정맥,<br> 폐질환, 식도질환, 흉벽 기형, 늑골 골절, 다한증, 액취증
                    </p>
                    
                </div><!-- /.col-lg-4 -->
            </div><!-- /.row -->

            <div class="row" id="row2">
                <div class="col-lg-4">
                    <a class="btn btn-light" href="#;" role="button" id="tBtn">
                        <div class="go">GO</div>
                    </a>
                    <h2 class="fw-normal">치과</h2>
                    <p>치아 우식증, 치주염, 무턱, 돌출입, 매복치, 턱관절 장애,<br> 이갈이, 코골이, 입냄새, 구순구개열</p>
                    
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <a class="btn btn-light" href="#;" role="button" id="nBtn">
                        <div class="go">GO</div>
                    </a>
                    <h2 class="fw-normal">내과</h2>
                    <p>위암, 심근경색, 폐암, 당뇨병, 신부전,<br> 감염질환, 천식, 류마티스성 관절염</p>
                    
                </div><!-- /.col-lg-4 -->
                
            </div><!-- /.row -->
    </div>

    <div class="container">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <p class="col-md-4 mb-0 text-muted">&copy; 2022 Graduation Work</p>
    
        <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
            <i id='info' class="fa-solid fa-circle-info"></i>
        </a>
        
    
        <ul class="nav col-md-4 justify-content-end">
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted" id="fo">Hospital</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted" id="fo">Pharmacy</a></li>
        </ul>
        </footer>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</body>

</html>